Repository shuyangsun/startup-infra-bootstrap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt

Use JS file for lintstaged, so it can perform flexible tflint.
  .lintstagedrc
  .lintstagedrc.js
Due: none

Enable DSSE for production Terraform state buckets.
  terraform/01_bootstrap/main.tf
Due: terraform fmt

Move locals variable to locals.tf.
  terraform/01_bootstrap/locals.tf
  terraform/01_bootstrap/main.tf
Due: terraform fmt

Prevent destroy for all state bucket related resources.
  terraform/01_bootstrap/main.tf
Due: terraform fmt

Add IAM policy creation for S3 state bucket access.
  terraform/01_bootstrap/locals.tf
  terraform/01_bootstrap/main.tf
Due: terraform fmt

Fix incorrect policy resources.
  policies/bootstrap.json
  terraform/01_bootstrap/main.tf
Due: terraform fmt

Move files out of the 01_bootstrap folder.
  terraform/.terraform.lock.hcl
  terraform/locals.tf
  terraform/main.tf
  terraform/variables.tf
Due: terraform fmt

Update Terraform version requirement.
  terraform/main.tf
Due: terraform fmt

Move default Terraform variables into the configuration YAML file.
  config.example.yaml
  terraform/variables.tf
Due: terraform fmt

Add setup.sh.
  README.md
  scripts/setup.sh
Due: prettier --write

Move dependency checks into a deeper folder.
  scripts/internal/check_dependencies/check_aws.sh
  scripts/internal/check_dependencies/check_git.sh
  scripts/internal/check_dependencies/check_terraform.sh
  scripts/internal/common.sh
  scripts/setup.sh
Due: none

Add Bash script formatting.
  .prettierrc
  bun.lock
  package.json
  scripts/internal/check_dependencies/check_aws.sh
  scripts/internal/check_dependencies/check_brew.sh
  scripts/internal/check_dependencies/check_gh.sh
  scripts/internal/check_dependencies/check_git.sh
  scripts/internal/check_dependencies/check_terraform.sh
  scripts/internal/common.sh
  scripts/setup.sh
Due: none

Update README.md.
  README.md
Due: prettier --write

Remove deprecated prettier config setting.
  .prettierrc
Due: none

Path conditions:
  prettier --write: any of: *.md
  terraform fmt: any of: *.tf
